body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.calculate {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure relative positioning for absolute positioning of button */
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 10px;
}
input{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button{

    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transform: translateX(150%);
}
button:hover{
    background-color: green;
}
.result{
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.result p{
    margin-bottom: 15px;
}
.result span{
    font-weight: bold;
}